**/.aws-sam
**/*.key
**/*.pem
**/*.pub
**/*.qcow2
**/*.raw
**/*.img
**/*.iso
**/*.log
**/node_modules
**/packer_cache
**/.terraform*
**/*.tfstate*

node_modules
build/**
data/cloud-init/**
data/images/**
data/isos/**
.run
